- type: job
  id: HeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  playTimeTracker: JobHeadOfSecurity
  requirements:
  - !type:CharacterTraitRequirement
    inverted: true
    traits:
    - Foreigner
    - ForeignerLight
    - Muted
    - Blindness
    - Pacifist
    - BrittleBoneDisease
  - !type:CharacterEmployerRequirement
    employers:
    - ZavodskoiInterstellar
    - PMCG
    - NanoTrasen
  # WD EDIT START
  - !type:CharacterOverallTimeRequirement
    min: 7200
  # WD EDIT END
  weight: 10
  startingGear: HoSGear
  icon: "JobIconHeadOfSecurity"
  requireAdminNotify: false # WWDP no need for admin notify
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - HeadOfSecurity
  - Command
  - Security
  - Armory
  - Maintenance
  - Service
  - External
  - Detective
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
  afterLoadoutSpecial:
  - !type:ModifyEnvirosuitSpecial
    charges: 8
  - !type:ModifyEnvirohelmSpecial
    powerCell: PowerCellHigh

- type: startingGear
  id: HoSGear
  subGear:
  - HoSPlasmamanGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitHoS
    back: ClothingBackpackSecurity
    shoes: ClothingShoesBootsCombatFilled
    # eyes: ClothingEyesGlassesSecurity - WD EDIT
    id: HoSPDA
    # gloves: ClothingHandsGlovesCombat - WD EDIT
    ears: ClothingHeadsetAltSecurity
    # belt: ClothingBeltSecurityFilled - WD EDIT
  storage:
    back:
    # WD EDIT START
    # - Flash
    # - MagazinePistol
    - TelescopicBaton
    - WeaponEnergyGunMultiphase
    # WD EDIT END

- type: startingGear
  id: HoSPlasmamanGear
  parent: BasePlasmamanSecurityGear
  equipment:
    jumpsuit: ClothingUniformEnvirosuitHoS
    head: ClothingHeadEnvirohelmHoS
    gloves: ClothingHandsGlovesEnviroglovesBlack
