- type: job
  id: Quartermaster
  name: job-name-qm
  description: job-description-qm
  playTimeTracker: JobQuartermaster
  requirements:
  - !type:CharacterTraitRequirement
    inverted: true
    traits:
    - Foreigner
    - ForeignerLight
    - Muted
  - !type:CharacterEmployerRequirement
    employers:
    - OrionExpress
    - IdrisIncorporated
    - NanoTrasen
  # WD EDIT START
  - !type:CharacterOverallTimeRequirement
    min: 7200
  # WD EDIT END
  weight: 10
  startingGear: QuartermasterGear
  icon: "JobIconQuarterMaster"
  requireAdminNotify: false # WWDP no need for admin notify
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - Cargo
  - Salvage
  - Mail
  - Quartermaster
  - Maintenance
  - External
  - Command
  - Orders
  - External
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
  afterLoadoutSpecial:
  - !type:ModifyEnvirosuitSpecial
    charges: 8

- type: startingGear
  id: QuartermasterGear
  subGear:
  - QuartermasterPlasmamanGear
  equipment:
    head: ClothingHeadHatBeretLogi
    jumpsuit: ClothingUniformJumpsuitQM
    back: ClothingBackpackCargo
    shoes: ClothingShoesColorBrown
    id: QuartermasterPDA
    ears: ClothingHeadsetAltCargo
    belt: BoxFolderClipboard
    pocket1: AppraisalTool
  storage:
    back:
    # - Flash - WD EDIT
    - TelescopicBaton # WD EDIT

- type: startingGear
  id: QuartermasterPlasmamanGear
  parent: BasePlasmamanMaskGear
  equipment:
    jumpsuit: ClothingUniformEnvirosuitQM
    head: ClothingHeadEnvirohelmQM
    gloves: ClothingHandsGlovesEnviroglovesCargo
